.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  font-size: var(--font-size-regular);
  background-color: var(--background-color);
  box-sizing: border-box;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-info {
  font-size: var(--font-size-regular);
  color: var(--text-color-primary);
  margin-right: 20px;
}

.pagination-button {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--text-color-primary);
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.pagination-button:disabled {
  color: var(--text-color-disabled);
  cursor: not-allowed;
}
