.paginated-table {
  overflow-x: scroll;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
}

.paginated-table .table-container {
  border-radius: 0;
  box-shadow: none;
}
